@charset "UTF-8";


/*--------- reset css----------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------default---------------------------*/
.content-default{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 200px 0;
}

.button {
    width:250px;
    background-color: #5F0080;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}

.button-outline {
    width:250px;
    background-color: white;
    border: 1.5px solid #5F0080;
    color:#5F0080;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}
.button-small {
    width:130px;
    background-color: #795B8F;
    border: 1px solid #5F0080;
    color:#fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    font-weight: 700;
}
.button-small:hover {
    background-color: #5F0080;
}
.button-outline-small {
    width:130px;
    background-color: WHITE;
    border: 1px solid #5F0080;
    color:#5F0080;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    font-weight: 700;
}

.button-xs {
    width:100px;
    height:30px;
    background-color: #795B8F;
    border: 1px solid #5F0080;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
    font-weight: 700;
    vertical-align: middle;
    padding: 0;
}
.button-xs:hover {
    background-color: #5F0080;
}
.button-outline-xs {
    width:100px;
    height:30px;
    background-color: WHITE;
    border: 1px solid #5F0080;
    color:#5F0080;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
    font-weight: 700;
    padding: 0;
}
.input-box {
    height: 30px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
    background-color: white;
}

.pagination .page-link {
    color: gray;
    border-radius: 0;
    border-color: #DDDDDD;
}
.pagination .page-link:hover,
.pagination .page-item.active .page-link {
    color: #5F0080;
    background: #F6F8F7;
    border-color: #DDDDDD;
}
.necessary {color: red;}

.level{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
}
.white{
    color : 5F0080;
}
.lavendar{
    background-color: #BB9AE1;
}
.purple{
    background-color: #5F0080;
    color : white;
}
.admin{
    background-color: black;
    color : white;
}
div .col-4 {
    margin: 30px 0;
}
div .col-3 {
    margin: 30px 0;
}



/*---------------------------nav-------------------------------*/



/*-----------------------member-------------------------*/

.button-outline-join{
    width:100px;
    background-color: white;
    border: 1.5px solid #5F0080;
    color:#5F0080;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}

.terms {
    text-decoration: none;
    color : #5F0080;
}
.terms:hover {
    text-decoration: none;
    color : #5F0080;
}
.terms:visited {
    text-decoration: none;
    color : #5F0080;
}


/*----------------------default layout for 고객센터, 마이페이지-------------------------*/


.subNav {
    width: 200px;
    float: left;
    height: 600px;
}
.section {
    width: 850px;
    float:left;
    padding: 0 0 0 20px;
}

ul.subNavMenu {
    margin: 30px 0 0 0;
    padding: 0;
}
ul.subNavMenu > li {
    float: left;
    line-height: 30px;
    vertical-align: middle;
}
ul.subNavMenu > li a {
    text-align: left;
    width: 200px;
    display: inline-block;
    border : 1px solid #F2F2F2;
    background-color:white;
    text-decoration:none;
    color: #383838;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px 10px 20px;
}
ul.subNavMenu > li a:hover {
    color: #5F0080;
    background-color: #F7F7F7;
}
ul.subNavMenu > li a.subNavMenuClicked {
    font-weight: 700;
    color: #5F0080;
    background-color: #F7F7F7;
}
.subNavMenu li a:after{
    content:'>';
    margin-left: 5px;
}


/*--------------------------list------------------------------*/

.list-table {
    width: 830px;
    border-top: 2px solid #5F0080;
    margin-top: 33px;
    font-size: 13px;
}
.list-table tr{
    line-height: 60px;
    vertical-align: middle;
}
.list-table tr:not(:first-child):hover{
    background-color: #f7f7f7;
}

.list-table tr th{
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid black;
}
.list-table tr td{
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #F5F5F5;
}
.list-table tr td:nth-child(2){
    text-align: left;
}
.list-table tr td a.title-decoration-none{
    text-decoration: none;
    color: black;
}
.explanation-gray {
    font-size: 15px;
    color: #999896;
}
.section-title {
    font-size: 25px;
    font-weight: 500;
}

/*---------write---------*/
table.write-table {
    width: 830px;
    border-top: 2px solid black;
    margin-top: 37px;
    font-size: 13px;
}
.write-table tr td{
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #F6F6F6;
}
.write-table tr td:first-child {
    width: 120px;
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    background-color: #F7F5F8;
}

/*--------view------------*/
.view-title{
    text-align: center;
    margin-bottom: 50px;
}
.view-title h3{
    font-weight: bold;
}
.view-table{
    width: 1100px;
    border-top: 2px solid black;
    border-bottom: 1px solid #F6F6F6;
    /* font-size: 13px; */
}
.view-table tr{
    line-height: 40px;
    vertical-align: middle;
}
.view-table tr td{
    padding: 10px;
    border-bottom: 1px solid #F6F6F6;
    text-align: left;
}
.view-table tr td.title-colored{
    font-weight: 700;
    background-color: #F7F5F8;
    width: 150px;
}
.view-table-move{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 1100px;
    /* font-size: 13px; */
}
.view-table-move tr td{
    padding: 10px;
    border: 1px solid #F6F6F6;
}
.view-table-move tr td:first-child{
    width: 100px;
    text-align: center;
}
.view-table-move tr td a{
    color: black;
    text-decoration: none;
}


/*----------------mypage---------------*/
.mypage-box{
    height: 260px;
    background-color: #F7F7F7;
}
.mypage-content{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
.mypage-content-box{
    height: 160px;
    background-color: white;
    float: left;
    margin-right: 10px;
    width: 340px;
    padding: 20px;
}
.mypage-number{
    text-align: center;
}
.mypage-number a{
    font-weight: 700;
    color: #5F0080;
    font-size: larger;
}
.mypage-number a:hover {
    text-decoration: none;
    color: #5F0080;
}
.mypage-number a:after{
    content:'>';
    margin-left: 5px;
    color: #BDBDBD;
    font-size: larger;
}
.mypage-button{
    text-decoration: none;
    background-color: #F7F7F7;
    padding: 3px;
    border-radius: 3px;
    color: black;
}
.mypage-button:hover{
    color: black;
}

/*-----------------admin----------------*/

.admin-list-table {
    width: 1000px;
    border-top: 2px solid #5F0080;
    margin: 0 auto;
}
.admin-list-table tr{
    line-height: 60px;
    vertical-align: middle;
}
.admin-list-table tr:not(:first-child):hover{
    background-color: #F7F7F7;
}
.admin-list-table tr th{
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.admin-list-table tr td{
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #F5F5F5;
}
.admin-list-table tr td:nth-child(2){
    text-align: left;
}
.admin-list-table tr td a.title-decoration-none{
    text-decoration: none;
    color: black;
}
.admin-content-small{
    width: 800px;
    margin: 0 auto;
}

/*-------------------goods-----------------*/
.goods-detail{
    margin:0 auto;
}
.goods-detail-top{
    width: 500px;
    height: 600px;
    float: left;
    padding: 50px;
}
.goods-detail-bottom{
    text-align: center;
}
.goods-detail-table{
    width: 500px;
    margin-top: 100px;
}
.goods-detail-table tr{
    border-bottom: 1px solid #F7F7F7;
}
.goods-detail-table tr td:first-child{
    width: 150px;
    padding: 10px;
}

